.add-to-cart-link {
    display: block;
    text-align: center;
    padding: 8px 15px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #007bff; /* Niebieski */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-link:hover {
    background-color: #0069d9; /* Ciemniejszy niebieski */
}