.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    flex: 0 0 calc(33.33% - 10px);
    margin: 5px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Dodano cień */
}

.add-to-cart-link {
    display: block;
    text-align: center;
    padding: 8px 15px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-link:hover {
    background-color: #0069d9;
}
