.main-page {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.main-page p {
    margin-bottom: 20px;
}

.main-page form {
    display: inline-block;
}

.main-page button[type="submit"] {
    padding: 10px 20px;
    background-color: #f44336; /* Czerwony */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main-page button[type="submit"]:hover {
    background-color: #d32f2f; /* Ciemniejszy czerwony */
}