.main-page {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.main-page p {
    margin-bottom: 20px;
}
.main-page form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.main-page button[type="submit"], .button-link {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.main-page button[type="submit"] {
    background-color: #f44336;
    color: white;
}
.main-page button[type="submit"]:hover {
    background-color: #d32f2f;
}
.button-link {
    background-color: #45a049;
    color: white;
}
