.order-list {
    display: flex;
    flex-direction: column; /* Zamówienia jedno pod drugim */
    align-items: center;
    margin: 20px;
}

.order-item {
    width: 350px; /* Szerokość dostosowana do informacji o zamówieniach */
    margin: 10px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order-item div {
    margin-bottom: 5px;
}

.order-item:not(:last-child) {
    margin-bottom: 20px;
}