<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link  th:href="@{/css/all_orders.css}" rel="stylesheet">
    <title>Zamówienia</title>
</head>
<body>
<h1>Zamówienia</h1>
<div th:if="${orders.isEmpty()}">
    <p>Brak zamówień.</p>
</div>
<div class="order-list">
    <div th:each="order: ${orders}" class="order-item">
        <div th:text="${'Id: ' + order.id}"></div>
        <div th:text="${'Użytkownik: ' + order.user.username}"></div>
        <div th:text="${'Data: ' + order.date}"></div>
        <p>Zamówione produkty:</p>
        <div th:each="item: ${order.items}" class="order-item-product">
            <div th:text="${item.product.name + ', ilość: ' + item.quantity }"></div>
        </div>
        <div th:text="${'Status: ' + order.status}"></div>
        <form th:action="@{/order/{orderId}/changeStatus(orderId=${order.id})}" method="post">
            <select name="orderStatus">
                <option th:each="status : ${T(com.example.spring_app.model.OrderStatus).values()}"
                        th:value="${status}"
                        th:text="${status}"
                        th:selected="${status == order.status}"></option>
            </select>
            <input type="submit" value="Aktualizuj status">
        </form>
    </div>
</div>
</body>
</html>